.pick-region {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 16px;
  max-width: 180px;
  overflow: hidden;

  white-space: nowrap;

  @include adpt-max($desm-r) {
    margin-left: 12px;
  }

  @include adpt-max($stab-r) {
    margin-left: 20px;
  }

  &__current-region {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__outer {
    position: relative;
  }

  &__img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;

    background-image: url('../img/UI/city.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
